@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  color: #383b3f;
}

.display-3 {
  line-height: 1.2;
}

::selection {
  background: #44484d;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
}

.bg-overlay {
  background-color: rgba(22, 28, 45, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.title-heading .para-desc {
  font-size: 17px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .title-heading .para-desc {
    font-size: 16px;
  }
}

.para-desc {
  max-width: 800px;
}

.footer {
  position: relative;
  color: #adb5bd;
}


.row > * {
  position: relative;
}

.display-3 {
  font-size: 64px !important;
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 42px !important;
  }
}

.fw-bold {
  font-weight: 700 !important;
}

.btn-primary {
  background-color: #5865F2 !important;
  border: 1px solid #5865F2 !important;
  color: #ffffff !important;
  margin-top: 30px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #4953c7 !important;
  border-color: #4953c7 !important;
  color: #ffffff !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #ff5714;
  border-color: #ff5714;
  color: #ffffff !important;
}

.btn-link.primary:not(:disabled):not(.disabled):active {
  color: #ff5714 !important;
}

.btn-outline-blue:not(:disabled):not(.disabled):active {
  background-color: #2a52c3;
  border-color: #2a52c3;
  color: #ffffff !important;
}

.btn-link.blue:not(:disabled):not(.disabled):active {
  color: #2a52c3 !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: #5a6d90;
  border-color: #5a6d90;
  color: #ffffff !important;
}

.btn-link.secondary:not(:disabled):not(.disabled):active {
  color: #5a6d90 !important;
}

.btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: #52CC99;
  border-color: #52CC99;
  color: #ffffff !important;
}

.btn-link.success:not(:disabled):not(.disabled):active {
  color: #52CC99 !important;
}

.btn-outline-warning:not(:disabled):not(.disabled):active {
  background-color: #FFBF66;
  border-color: #FFBF66;
  color: #ffffff !important;
}

.btn-link.warning:not(:disabled):not(.disabled):active {
  color: #FFBF66 !important;
}

.btn-outline-info:not(:disabled):not(.disabled):active {
  background-color: #66CCFF;
  border-color: #66CCFF;
  color: #ffffff !important;
}

.btn-link.info:not(:disabled):not(.disabled):active {
  color: #66CCFF !important;
}

.btn-outline-danger:not(:disabled):not(.disabled):active {
  background-color: #ee2f20;
  border-color: #ee2f20;
  color: #ffffff !important;
}

.btn-link.danger:not(:disabled):not(.disabled):active {
  color: #ee2f20 !important;
}

.btn-outline-dark:not(:disabled):not(.disabled):active {
  background-color: #383b3f;
  border-color: #383b3f;
  color: #ffffff !important;
}

.btn-link.dark:not(:disabled):not(.disabled):active {
  color: #383b3f !important;
}

.btn-outline-muted:not(:disabled):not(.disabled):active {
  background-color: #8492a6;
  border-color: #8492a6;
  color: #ffffff !important;
}

.btn-link.muted:not(:disabled):not(.disabled):active {
  color: #8492a6 !important;
}

.btn-outline-light:not(:disabled):not(.disabled):active {
  background-color: #f8f9fc;
  border-color: #f8f9fc;
  color: #ffffff !important;
}

.btn-link.light:not(:disabled):not(.disabled):active {
  color: #f8f9fc !important;
}

.btn-outline-footer:not(:disabled):not(.disabled):active {
  background-color: #202942;
  border-color: #202942;
  color: #ffffff !important;
}

.btn-link.footer:not(:disabled):not(.disabled):active {
  color: #202942 !important;
}

.btn {
  padding: 6px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  height: 40px;
}

.btn:focus {
  box-shadow: none !important;
}

button:not(:disabled) {
  outline: none;
}
